@using Entity_Layer.Concrete
@model Ticket
@{
    ViewData["Title"] = "Add Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Top header -->
<header class="navbar-toggler">
    <p class="w3-left text-dark font-weight-bolder" style="font-size:20px">Add Test</p>
</header>
<hr />

@using (Html.BeginForm("CreateTicket", "Ticket", FormMethod.Post))
{
    @Html.LabelFor(model => model.Title, "Title")
    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(model => model.UserId, "Assignee")
    @Html.DropDownListFor(model => model.UserId, (List<SelectListItem>)ViewBag.users, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(model => model.TicketType, "Ticket Type")
    @Html.DropDownListFor(model => model.TicketType, Enum.GetNames(typeof(TicketTypes)).Select(e => new SelectListItem { Text = e }), new { @class = "form-control" })
    <br />
    @Html.LabelFor(model => model.ColumnId, "Situation")
    @Html.DropDownListFor(model => model.ColumnId, (List<SelectListItem>)ViewBag.columns, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ColumnId, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Description")
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Priority (1: Not Critical and 4: Highest Priority)")
    @Html.TextBoxFor(x => x.Priority, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Priority, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Estimated Time (Which day the ticket will be on Done colum)")
    @Html.TextBoxFor(x => x.EstimatedTime, new { @type = "date", @class = "form-control datepicker" })
    @Html.ValidationMessageFor(x => x.EstimatedTime, "", new { @class = "text-danger" })
    <br />
    <button id="CreateButton" onclick="return confirm('You are going to create the Ticket, are you sure?');" class="btn btn-success mb-3">Create<i class="fa fa-plus m-1" style="font-size:15px"></i></button>
    
}

