@using Entity_Layer.Concrete
@model Ticket
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
    <div class="form-group row">
        <div class="col-sm-12">
            <input type="text" style="text-align:center;" readonly class="form-control-plaintext display-6 fw-bolder card" id="staticEmail2" value="@Model.Title">
        </div>
    </div>
    <hr />
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label fw-bolder">Assignee:</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="@Model.User.Firstname @Model.User.LastName">
        </div>
    </div>
    <hr />
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label fw-bolder">Situation:</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="@Model.Column.ColumnName">
        </div>
    </div>
    <hr />
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label fw-bolder">Description:</label>
        <div class="col-sm-10">
            <textarea readonly rows="8" cols="50" class="form-control-plaintext card">
                @Model.Description
            </textarea>
        </div>
    </div>
    <hr />
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label fw-bolder">Created Time:</label>
        <div class="col-sm-4">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="@Model.CreatedTime.ToString("dd-MM-yyyy")">
        </div>
        <label for="inputPassword3" class="col-sm-2 col-form-label fw-bolder">Estimated Time:</label>
        <div class="col-sm-4">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="@Model.EstimatedTime.ToString("dd-MM-yyyy")">
        </div>
    </div>
    <hr />
    <div class="form-group row">
        <div class="col-sm-6">
            <a href="/Ticket/UpdateTicket/@Model.TicketId" class="btn card-img btn-lg btn-outline-warning" style="text-align:center;">Update<i class="fa fa-recycle m-1" style="font-size:20px"></i></a>
        </div>
        <div class="col-sm-6">
            <a href="/Ticket/DeleteTicket/@Model.TicketId" class="btn card-img btn-lg btn-outline-danger">Delete<i class="fa fa-trash m-1" style="font-size:20px"></i></a>
        </div>
    </div>
</form>

