@using Entity_Layer.Concrete
@model TestSet
@{
    ViewData["Title"] = "Add Test Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Search<i class="icon-search2 ml-2"></i></span>
    </div>
    <input type="text" id="testCaseFilter" class="form-control" placeholder="Search for Test Cases" aria-label="Username" aria-describedby="basic-addon1">
</div>
<hr />

<div class="alert alert-info" role="alert">
    Please click run button of the test case that you want add test result!
</div>

<table class="table table-bordered table-striped p-5">
    <thead>
        <tr>
            <th>Test Case Identifier</th>
            <th>Test Case Title</th>
            <th>Related Test</th>
            <th>Created Date</th>
            <th>Test Case Writer</th>
            <th>Test Result</th>
            <th>Run Case</th>
        </tr>
    </thead>
    <tbody id="testCaseTable">
        @foreach (var testCase in ViewBag.TestCases as List<TestCase>)
        {
            <tr>
                <td>@testCase.TestCaseIdentifier</td>
                <td>@testCase.Name</td>
                <td>@testCase.Ticket.TicketIdentifier</td>
                <td>@testCase.CreatedTime.ToShortDateString()</td>
                <td>@testCase.TestCaseWriter</td>
                <td>
                    @if(testCase.isTested == false)
                    {
                        <p class="text-warning">Untested</p>
                    }
                    else
                    {
                        if(testCase.CaseResult == true)
                        {
                            <p class="text-success">Success<i class="fa fa-check m-1" style="font-size:24px"></i></p>
                        }
                        else
                        {
                            <p class="text-danger">Fail<span style='font-size:24px;'>&#10005;</span></p>
                        }
                    }
                </td>
                <td>
                    @if(testCase.isTested == false)
                    {
                        <a href="/TestCase/AddTestResult/@testCase.TestCaseId" id="AddButton" class="btn btn-outline-success text-dark">Run<i class="fa fa-running m-1" style="font-size:15px"></i></a>
                    }
                    @if(testCase.isTested == true)
                    {
                        <a href="/TestCase/AddTestResult/@testCase.TestCaseId" id="AddButton" class="btn btn-outline-warning text-dark">Update Test Run<i class="fa fa-running m-1" style="font-size:15px"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#testCaseFilter").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#testCaseTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>

