@using Entity_Layer.Concrete
@model TestSet
@{
    ViewData["Title"] = "Create Test Set";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Top header -->
<header class="navbar-toggler">
    <p class="w3-left text-dark font-weight-bolder" style="font-size:20px">Add Test Set</p>
</header>
<hr />

@using (Html.BeginForm("CreateTestSet", "TestSet", FormMethod.Post))
{
    @Html.LabelFor(model => model.Name, "Title")
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    <br>
    @Html.LabelFor(model => model.TestType, "Test Type")
    @Html.DropDownListFor(model => model.TestType, Enum.GetNames(typeof(TestTypes)).Select(e => new SelectListItem { Text = e }), new { @class = "form-control" })
    <br />
    <button id="CreateButton" onclick="return confirm('You are going to create the Test Set, are you sure?');" class="btn btn-success mb-3">Create Test Set<i class="fa fa-plus m-1" style="font-size:15px"></i></button>

}
