@using Entity_Layer.Concrete
@model TestCase

@{
    ViewData["Title"] = "Update Test Case";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Top header -->
<header class="navbar-toggler">
    <p class="w3-left text-dark font-weight-bolder" style="font-size:20px">Update Test Case</p>
</header>
<hr />

@using (Html.BeginForm("UpdateTestCase", "TestCase", FormMethod.Post))
{
    @Html.HiddenFor(model => model.TestCaseId, new { @class = "form-control" } )
    @Html.HiddenFor(model => model.TestCaseIdentifier, new { @class = "form-control" } )
    @Html.HiddenFor(model => model.TestCaseWriter, new { @class = "form-control" } )
    @Html.HiddenFor(model => model.CreatedTime, new { @class = "form-control" } )
    @Html.HiddenFor(model => model.CaseResult, new { @class = "form-control" } )
    @Html.HiddenFor(model => model.TestType, new { @class = "form-control" } )
    @Html.HiddenFor(model => model.TestSetId, new { @class = "form-control" } )
    @Html.HiddenFor(model => model.isTested, new { @class = "form-control" } )
    @Html.LabelFor(model => model.Name, "Title")
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(model => model.Precondition, "Preconditions")
    @Html.TextBoxFor(model => model.Precondition, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Precondition, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(model => model.TicketId, "Related Ticket")
    @Html.DropDownListFor(model => model.TicketId, (List<SelectListItem>)ViewBag.tickets, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.TicketId, "", new { @class = "text-danger" })
    <br />
    <button id="UpdateButton" onclick="return confirm('You are going to update the Test Case, are you sure?');" class="btn btn-warning mb-3">Update<i class="fa fa-recycle m-1" style="font-size:15px"></i></button>

}

