@using Entity_Layer.Concrete
@model List<Step>
@{
    ViewData["Title"] = "Steps";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TestCase testCase = ViewBag.testCase as TestCase;
    Model.ForEach(x => x.TestCaseId = testCase.TestCaseId);
}

<div class="card text-center">
    <div class="card-header">
        <h5 class="card-title" style="text-align:center;">@testCase.Name</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title" style="text-align:left;">Creater: @testCase.TestCaseWriter</h5>
        <h5 class="card-text" style="text-align:left;">Related Ticket: @testCase.TestCaseIdentifier</h5>
        <h5 class="card-text" style="text-align:left;">Precondition: @testCase.Precondition</h5>
    </div>
    <div class="card-body">
        <a href="/TestCase/UpdateTestCase/@testCase.TestCaseId" class="btn btn-outline-warning card-img">Edit Test Case<i class="fa fa-recycle m-1" style="font-size:15px"></i></a>
    </div>
    <div class="card-footer text-muted">
        Created at @testCase.CreatedTime
    </div>
    @if (@testCase.UpdatedTime != null)
    {
        <div class="card-footer text-muted">
            Updated at @testCase.UpdatedTime
        </div>
    }
</div>
<hr />

@foreach (var step in Model)
{
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="comment" style="text-align:center;" class="fw-bolder">Action</label>
                    <textarea class="form-control" rows="5" id="action" readonly>@step.Action</textarea>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="comment" style="text-align:center;" class="fw-bolder">Data</label>
                    <textarea class="form-control" rows="5" id="data" readonly>@step.Data</textarea>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="comment" style="text-align:center;" class="fw-bolder">Excepted Result</label>
                    <textarea class="form-control" rows="5" id="exceptedResult" readonly>@step.ExceptedResult</textarea>
                </div>
            </div>
        </div>
    </div>
}

