@using Entity_Layer.Concrete
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TMT | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectManagementTool.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <style>
        body {
        background-color: #fbfbfb;
        }
        media (min-width: 991.98px) {
        main {
        padding-left: 240px;
        }
        }

        /* Sidebar */
        .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 58px 0 0; /* Height of navbar */
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
        width: 240px;
        z-index: 600;
        }
    </style>
    <style>
    .dropbtn {
      background-color: 3e8e41#;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: f1f1f1#;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: 3e8e41#;}
    </style>
    <style>
        /* Style the links inside the sidenav */
        #mySidenav a {
            position: absolute; /* Position them relative to the browser window */
            left: -150px; /* Position them outside of the screen */
            transition: 0.3s; /* Add transition on hover */
            padding: 15px; /* 15px padding */
            width: 200px; /* Set a specific width */
            text-decoration: none; /* Remove underline */
            font-size: 20px; /* Increase font size */
            color: white; /* White text color */
            border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
            margin-top: 65px;
        }

            #mySidenav a:hover {
                left: 0; /* On mouse-over, make the elements appear as they should */
            }

        /* The about link: 20px from the top with a green background */
        #projects {
            top: 20px;
            background-color: #04AA6D;
            margin-bottom:1px;
        }

        #tickets {
            top: 90px;
            background-color:darkgoldenrod; /* Blue */
            margin-bottom: 1px;
        }

        #testcases {
            top: 160px;
            background-color: #2196F3; /* Blue */
            margin-bottom: 1px;
        }

        #testsets {
            top: 230px;
            background-color: #f44336; /* Red */
            margin-bottom: 1px;
        }

        #testreports {
            top: 300px;
            background-color: black; /* Red */
            margin-bottom: 1px;
        }
    </style>
    <style>
        import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');
        *{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Lato', sans-serif;
        }
        .wrapper{
          display: inline-flex;
          background: #fff;
          height: 100px;
          width: 400px;
          align-items: center;
          justify-content: space-evenly;
          border-radius: 5px;
          padding: 20px 15px;
          box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
        }
        .wrapper .option{
          background: #fff;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          margin: 0 10px;
          border-radius: 5px;
          cursor: pointer;
          padding: 0 10px;
          border: 2px solid lightgrey;
          transition: all 0.3s ease;
        }
        .wrapper .option .dot{
          height: 20px;
          width: 20px;
          background: #d9d9d9;
          border-radius: 50%;
          position: relative;
        }
        .wrapper .option .dot::before{
          position: absolute;
          content: "";
          top: 4px;
          left: 4px;
          width: 12px;
          height: 12px;
          background: #0069d9;
          border-radius: 50%;
          opacity: 0;
          transform: scale(1.5);
          transition: all 0.3s ease;
        }
        input[type="radio"]{
          display: none;
        }
        #option-1:checked:checked ~ .option-1,
        #option-2:checked:checked ~ .option-2{
          border-color: green;
          background: green;
        }
        #option-1:checked:checked ~ .option-1 .dot,
        #option-2:checked:checked ~ .option-2 .dot{
          background: #fff;
        }
        #option-1:checked:checked ~ .option-1 .dot::before,
        #option-2:checked:checked ~ .option-2 .dot::before{
          opacity: 1;
          transform: scale(1);
        }
        .wrapper .option span{
          font-size: 20px;
          color: #808080;
        }
        #option-1:checked:checked ~ .option-1 span,
        #option-2:checked:checked ~ .option-2 span{
          color: #fff;
        }
    </style>
</head>
<body style="overflow-x:scroll;">
    <!--Main Navigation-->
    <header>
        <!-- Sidebar -->
        <div id="mySidenav" class="sidenav" style="z-index:5; position:relative;">
            <a href=/Column/GetColumns id="projects">Project<i class='fas fa-project-diagram p-1' style='font-size:15px; margin-left:82px;'></i></a>
            <a href="/Ticket/GetTickets" id="tickets">Tests<i class="fa fa-align-justify p-1" style="font-size:15px; margin-left:103px;"></i></a>
            <a href="/TestCase/GetTestCases" id="testcases">Test Cases<i class="fa fa-check p-1" style="font-size:15px; margin-left:56px;"></i></a>
            <a href="/TestSet/GetTestSets" id="testsets">Test Sets<i class="fa fa-check" style="font-size:15px; margin-left:63px;"></i><i class="fa fa-check" style="font-size:15px"></i></a>
            <a href="/TestSet/GetTestSets" id="testreports">Reports<i style="font-size:15px; margin-left:77px;" class="fa p-1">&#xf200;</i></a>

        </div>
        <!-- Sidebar -->
        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Brand -->
                <a class="nav-brand text-white" style="font-size:24px;font-family:Arial, Helvetica, sans-serif; text-decoration:none; margin-right:25px; margin-left:25px;" href="/Column/GetColumns">
                    <i class="fa fa-check" style="font-size:24px; margin-right:15px;"></i>Test Management Tool
                </a>

            @{
                if(ViewData["CheckColumnButton"] == "true")
                {
                       <a class="btn btn-success text-white" href="/Column/CreateColumn" style="margin-left:25px;">
                            Add Column<i class="fa fa-plus m-1" style="font-size:15px"></i>
                    </a>
                }

                if (ViewData["CheckTicketButton"] == "true")
                {
                    <a class="btn btn-primary text-white" href="/Ticket/CreateTicket" style="margin-left:25px;">
                        Add Test<i class="fa fa-plus m-1" style="font-size:15px"></i>
                    </a>
                }

                if (ViewData["CheckTestCaseButton"] == "true")
                {
                    <a class="btn btn-primary text-white" href="/TestCase/CreateTestCase" style="margin-left:25px;">
                        Add Test Case<i class="fa fa-plus m-1" style="font-size:15px"></i>
                    </a>
                }

                if (ViewData["CheckAddStepButton"] == "true")
                {
                        <a class="btn btn-primary text-white" href="/Step/CreateStep/@ViewBag.testCaseId" style="margin-left:25px;">
                        Add Step<i class="fa fa-plus m-1" style="font-size:15px"></i>
                    </a>
                }

                if (ViewData["CheckAddTestSetButton"] == "true")
                {
                    <a class="btn btn-primary text-white" href="/TestSet/CreateTestSet/@ViewBag.testSetId" style="margin-left:25px;">
                        Add Test Set<i class="fa fa-plus m-1" style="font-size:15px"></i>
                        </a>
                    }
                }

                <!-- Right links -->
                <ul class="navbar-nav ms-auto d-flex flex-row">
                    <!-- Notification dropdown -->
                    @if(ViewData["Notifications"] != null)
                    {
                        <li class="nav-item dropdown">
                            <div class="dropdown nav-link dropdown-toggle hidden-arrow text-white" style="float:right;">
                                <i class="fas fa-bell text-white" style='font-size:24px'></i>
                                <span class="badge rounded-pill badge-notification bg-danger">@ViewData["Unreads"]</span>
                                <div class="dropdown-content bg-dark mt-1" style="right:0;">
                                    @foreach (var notification in ((List<Notification>)ViewData["Notifications"]))
                                    {
                                        if(notification.isRead == false)
                                        {
                                            if(notification.isUpdated == false)
                                            {
                                                <a href="@notification.NotificationTarget" class="text-white" id="NO">@notification.NotificationShortut<i class="fa fa-circle m-1" style="font-size:15px;color:red"></i></a>
                                            }
                                            else
                                            {
                                                <a href="@notification.NotificationTarget" class="text-white" id="NO">@notification.NotificationShortut<i class="fa fa-circle m-1" style="font-size:15px;color:yellow"></i></a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="@notification.NotificationTarget" class="text-white" id="NO">@notification.NotificationShortut</a>
                                        }
                                    }
                                </div>
                            </div>
                        </li>
                    }

                    <!-- User Icon dropdown--> 
                    <li class="nav-item dropdown">
                        <div class="dropdown nav-link dropdown-toggle hidden-arrow text-white" style="float:right;">
                            <a class="dropbtn" style="color:inherit;"><i class='fas fa-user-circle text-white' style='font-size:24px;'></i></a>
                            <div class="dropdown-content bg-dark mt-1" style="right:0;">
                                <a class="text-white" id="AS" href="/User/UserUpdate">Account Settings<i class="fa fa-cog" style="font-size:15px; margin-left:10px;"></i></a>
                                <a class="text-white" id="UL" href="/User/UserLogout">Logout <i class="fas fa-sign-out-alt" style="font-size:15px; margin-left:10px;"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
    <!--Main Navigation-->
    <!--Main layout-->
    <main style="margin-top: 58px;">
        <div class="container pt-4 p-5">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            }
            @RenderBody()
        </div>
    </main>

    <div class="text-center p-3 fixed-bottom bg-dark text-white" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" style="text-decoration:none;"> Test Management Tool</a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
